<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Breadboard Extension</title>
  </head>
  <body>
    <div id="app">
		<header>
			<h4>Breadboard Runner</h4>
		  </header>
		  <main>
			<section id="breadboardRunner">
			  <label htmlFor="runButton">Click to run Breadboard</label>
			  <button
				id="runButton"
				type="button"
			  >Run basic board!</button>
			  <p id="boardOutput"></p>
			</section>
		  </main>
    </div>
    <script type="module" src="../src/popup.ts"></script>
  </body>
</html>